:root {

    --ff: 'Outfit', sans-serif;
    --fsize: 18px;
    --h1fsize: 24px;
    --spanfsize: 14px;

    --primary-color: hsl(215, 52%, 70%);
    --secondary-color: hsl(178, 100%, 50%);

    --bg-color: hsl(216, 54%, 11%);
    --card-bg: hsl(215, 51%, 16%);
    --line-color: hsl(215, 32%, 27%);

    --fw-light: 300;
    --fw-normal: 400;
    --fw-semi-bold: 600;

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: var(--fsize);
  font-family: var(--ff);
}

h1 {
    font-size: var(--h1fsize);
    line-height: 1.5;
}

.container {
    height: 100vh;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
}

.card {
    width: 350px;
    height: auto;
    background-color: var(--card-bg);
    color: white;
    border-radius: calc(3/4 * 1rem);;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-img {
    display: flex;
    margin: 0 auto;
}

.main-img {
    width: 100%;
    border-radius: 12px;
}

.img-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: hsl(178, 100%, 50%, 0.5);
    width: 302px;
    height: 302px;
    border-radius: 12px;
    transition: 0.1s ease-in;
    opacity: 0;
}

.card-img:hover .img-overlay {
    opacity: 1;
}

.card-content {
    padding: 1.5rem;
}

.header {
    font-weight: var(--fw-semi-bold);
}

.header:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.text {
    font-weight: var(--fw-light);
    color: var(--primary-color);
    padding-bottom: calc(1rem/2);
}

.price-and-time {
    font-size: var(--spanfsize);
    display: flex;
    justify-content: space-between;
    padding-bottom: calc(1rem/2);
}

.icon {
    height: 14px;
    width: auto;
    padding: calc(1rem/4)
}

.price {
    color: var(--secondary-color);
    font-weight: var(--fw-semi-bold);
    display: flex;
    align-items: center;
}

.time {
    color: var(--primary-color);
    display: flex;
    align-items: center;
}

.divider {
    border-top: 1px solid white;
}

.author {
    display: flex;
    align-items: center;
    color: var(--primary-color);
    font-size: 1rem;
    padding-top: calc(1rem/4);
}

.author-photo {
    height: var(--h1fsize);
    width: auto;
    padding-right: calc(1rem/2)
}

.author-name {
    color: white;
}

.author-name:hover {
    color: var(--secondary-color);
    cursor: pointer;
}

.attribution {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-size: var(--spanfsize);
    text-align: center;
}

.attribution a {
    color: white;
}

.attribution a:hover {
    color: var(--secondary-color);
}